body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

nav {
    background-color: #007bff;
    padding: 10px;
    margin-bottom: 20px;
}

nav button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

nav button:hover {
    background-color: lightgray;
}


section {
    display: none;
}


section.active {
    display: block;
}

input, button {
    margin: 10px;
    padding: 5px;
}
